@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.container{
    height: 100%;
    background: url("../../images/register.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 40%!important;
}
.formHeader{
    font-size: 52px;
    font-family: 'Pangolin', cursive;
    background: #7f00ff;
    background: -webkit-linear-gradient(
            to right,
            #f9f9f9, #9d66d4
    );
    background: linear-gradient(
            to right,
            #f9f9f9, #9d66d4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.formHeader span{
    -webkit-text-fill-color: #fff;

}
.messageLink{
    padding-left: 10px;
    color: #a333c8;
}
.messageLink:hover {
    color: hotpink;
}